<form id="day-card">
    <button type="submit" class="button-3d">Узнать свою карту дня</button>
</form>

<form id="day-rune">
    <button type="submit" class="button-3d">Узнать свою руну дня</button>
</form>
<!--<form id="card-question">-->
<!--    <input type="text" id="card-question-button" placeholder="ваш вопрос" class="input-tarot"><br/><br/>-->
<!--    <button type="submit" class="button-3d">Задать свой вопрос на таро</button>-->
<!--</form>-->

<!--<form id="rune-question">-->
<!--    <button type="submit" class="button-3d">Задать свой вопрос на рунах</button>-->
<!--</form>-->
