<?xml version="1.0" encoding="UTF-8"?>
<!-- Настройка Logback -->
<configuration debug="false">

    <contextName>RHDeer</contextName>

    <!-- Формат сообщений -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Ротация журналов (архивируем старые журналы) -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/oracle-%d{yyyy-MM-dd-ss}.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Основной корень всех логгеров -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <!-- Настройки уровня логгирования для конкретных классов или пакетов -->
    <logger name="RHDeer" level="DEBUG"/>
    <logger name="red.head.deer" level="DEBUG"/>
    <logger name="red.head.deer.First" level="DEBUG"/>

</configuration>