/* Форма с кнопками в левой части экрана */
.buttons-container {
    width: 350px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
}

/* Основная кнопка */
.button-3d {
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: #EDE7FA; /* Очень бледный сиреневый оттенок */
    color: #333; /* Темный цвет текста */
    border: none;
    outline: none;
    z-index: 1;
    letter-spacing: 1px;
    font-weight: bold;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* Мягкая тень вокруг кнопки */
    border-radius: 5px;
    width: 345px
}

/* Эффект нажатия */
.button-3d:active {
    transform: translateY(3px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 345px
}

/* Контур вокруг кнопки */
.button-3d::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 2px solid transparent;
    background-image: radial-gradient(circle at center, rgba(142, 68, 173, 0.8), rgba(142, 68, 173, 0));
    opacity: 0;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: -1;
    width: 345px
}

/* Анимация эффекта нажатия */
.button-3d:hover::before,
.button-3d:focus::before {
    opacity: 1;
    animation: pulse-border 1.5s infinite;
    width: 345px
}

.button-3d::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: inherit;
    border: 2px solid #8E44AD; /* Яркий фиолетовый контур */
    transition: transform 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: -1;
    width: 345px
}

.button-3d:hover::after,
.button-3d:focus::after {
    transform: scale(1.05);
    width: 345px
}

.button-3d:focus {
    outline: none;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #8E44AD;
    width: 345px
}